<div class="ui container">
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <h1 class="ui center aligned icon header">
    <i class="users icon"></i>
    <div class="content">
      Bem-vindo so SGP
      <div class="sub header">Sistema de Gerenciamento de Projetos</div>
    </div>
  </h1>
</div>
