<!-- BREADCRUMB -->
<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li><%= link_to "Projetos", projects_path %></li>
      <li><%= link_to current_project.name, project_path(current_project) %></li>
      <li class="active">Product backlog</li>
    </ol>
  </div>
</div>
<!-- /BREADCRUMB -->