<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>Editando function</strong></a>
    <%= link_to 'Salvar', '#', class: 'item save' %>
    <%= link_to 'Cancelar', functions_path, class: 'item' %>
  </div>

  <%= render 'form' %>
</div>
