<!-- BREADCRUMB -->
<div class="ui breadcrumb">
  <%= link_to "Projetos", projects_path, class: 'section' %>
  <div class="divider"> / </div>

  <%= link_to current_project.name, project_path(current_project), class: 'section' %>
  <div class="divider"> / </div>

  <div class="active section">Membros</div>
</div>
<!-- /BREADCRUMB -->