/*
 *= require_tree .
 *= require_self
 */
body{ padding-top: 50px; }

/* button project */
.btn-project {
  width: 100%;
  margin-bottom: 1em;
  white-space: normal;
  min-height: 80px;
}

.btn-project p.title {
  font-size: 1em;
  font-weight: bold;
}

.btn-project p.info {
  font-size: 0.8em;
  text-align: left;
}

.container-project {
  width: 100%;
  margin-bottom: 1em;
}

.btn-container-project {
  width: 100%;
  margin-bottom: 1em;
}


p.middle {
  position: relative;
  margin-top: 2em;
  /*top: 50%;
  left: 50%;*/
}

.hidden {
  display: none;
}

.top-spacing { padding-top: 1em; }

.text-center { text-align: center !important; }

/* progress bar */
.progress { height: 8px; background-color: #ccc; }
.progress-bar-xp { background-color: #49147F; }

/* sidebar for dashboard */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top { border: 0; }

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f0f0f0;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main { padding: 20px; }

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 { margin-bottom: 0; }

.placeholder { margin-bottom: 20px; }

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/* progress sprint */
.progress-print {
  width: 100%;
  background: #fff;
  padding: 0.5em;
  border-radius: 5px;
}

.sprints {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.line {
  width:100%;
  height:2px;
  background: #ccc;
  position: absolute;
  top: 1.5em;
  z-index: 1;
}

.circle {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  display: inline-block;
}

.circle:hover { background: #e6e6e6; }

.circle-pendent { background: #eee; }
.circle-pendent:hover { background: #e6e6e6; }

.circle-current { background: #337ab7; border-color: #2e6da4; }
.circle-current:hover { background: #286090; }

.circle-done { background: #3c763d; border-color: #398439; }
.circle-done:hover { background: #2b542c; }

/* layout samantic */

body { padding-top: 46.7px; }

.main-pusher {
  padding-top: 46.7px;
  padding-left: 250px;
  padding-right: 10px;
}

.hidden.menu {
  display: none;
}

.masthead { border-radius: 0 !important; }

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.justify { text-align: justify; }
.indent { text-indent: 2em; }

/*.ui.footer {
  position: relative;
  bottom: 0;
}*/

/*.footer {
  position:fixed !important;
  left:0px !important;
  bottom:0px !important;
  width:100%;
}*/