<!-- side left menu -->
<div class="ui vertical inverted left visible sidebar menu overlay labeled icon">
  <%= link_to root_path, class: "#{is_current_page?(dashboard_path)} item" do %>
  <i class="home icon"></i>
  Inicio
  <% end %>

  <%= link_to projects_path, class: "#{is_current_page?(projects_path)} item" do %>
  <i class="sitemap icon"></i>
  Projetos
  <% end %>

  <%= link_to users_path, class: "#{is_current_page?(users_path)} item" do %>
  <i class="users icon"></i>
  Usuários
  <% end %>

  <%= link_to settings_path, class: "#{is_current_page?(settings_path)} item" do %>
  <i class="settings icon"></i>
  Configurações
  <% end %>
</div>