<ul class="nav navbar-nav pull-right">
  <li>
    <%= link_to new_user_session_path do %>
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      Entrar
    <% end %>
  </li>
</ul>